<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <h2 class="govuk-heading-l">Welcome to the Usage Tracking Service</h2>
        <h3 class="govuk-heading-m">View usage and users, as well as control events.</h3>
        <p class="govuk-body">
            On-boarding process:
            <u>
                <li>Apply to EA team who will set your app up with a client id and secret.</li>
                <li>Use these credentials to login into Usage Tracking Service.</li>
                <li>Create your application and add events.</li>
                <li>Integrate your application and start posting usage events for your users.</li>
                <li>Use this GUI to track usage events and users.</li>
            </u>
        </p>
        <div>
            <button class="govuk-button" data-module="govuk-button" type="submit" *ngIf="!isLoggedIn" (click)="login()">Login as user</button>     
          </div>
      
          <div>
            <button class="govuk-button" data-module="govuk-button" type="submit" *ngIf="!isLoggedIn" (click)="appLogin()">Login as app</button>
          </div>
      
          <div> 
            <button class="govuk-button" data-module="govuk-button" type="submit" *ngIf="isLoggedIn" (click)="logout()">Sign Out</button>
          </div>
    </div>
</div>

