<body class="govuk-template__body ">
  <app-header></app-header>
  <div class="govuk-width-container app-site-width-container">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
        <span class="govuk-phase-banner__text">
          This is a prototype service – your <a class="govuk-link" href="mailto:ea-team@ea.finance-ni.gov.uk?subject=Usage Tracking Service">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
    <main class="govuk-main-wrapper" id="main-content" role="main">
      <div>        
        <router-outlet></router-outlet>  
      </div>
    </main>
  </div>  
  <app-footer></app-footer>
  <script src="{{ mix('js/app.js') }}"></script>

  <script>
    window.GOVUKFrontend.initAll()
  </script>
</body>
