<div class="govuk-form-group">
    <form class="application-form" [formGroup]="applicationForm" (ngSubmit)="submit()">
        <mat-form-field class="application-full-width">
          <mat-label>Application Name</mat-label>
          <input name="name" matInput formControlName="name" [errorStateMatcher]="matcher" placeholder="Ex. NICSArchitecturePortal" value="">
          <mat-error *ngIf="applicationForm.controls.name?.hasError('length') && !applicationForm.controls.name?.hasError('required')">
            Application Name is too long
          </mat-error>
          <mat-error *ngIf="applicationForm.controls.name?.hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      
        <mat-form-field class="application-full-width">
          <mat-label>Application Description</mat-label>
          <input name="description" matInput formControlName="description" [errorStateMatcher]="matcher" placeholder="Ex. NICS Architecture Portal which...">
          <mat-error *ngIf="applicationForm.controls.description?.hasError('length') && !applicationForm.controls.description?.hasError('required')">
            Application Name is too long
          </mat-error>
          <mat-error *ngIf="applicationForm.controls.description?.hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
          
        <button class="govuk-button" type="submit">Continue</button>
      </form>

  </div>
