<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <svg role="presentation" focusable="false" class="govuk-header__logotype-crown"
            xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="10 25 150 170">
            <g>
              <polygon points="85.1,134.4 70.9,126.2 70.9,109.6 85.1,101.3 99.3,109.6 99.3,126.2 	"></polygon>
              <polygon points="85.1,167.5 70.9,159.3 70.9,142.7 85.1,134.4 99.3,142.7 99.3,159.3 	"></polygon>
              <polygon points="56.8,84.8 42.6,76.5 42.6,59.9 56.8,51.7 70.9,59.9 70.9,76.5 	"></polygon>
              <polygon points="56.8,117.9 42.6,109.6 42.6,93.1 56.8,84.8 70.9,93.1 70.9,109.6 	"></polygon>
              <polygon points="56.8,151 42.6,142.7 42.6,126.2 56.8,117.9 70.9,126.2 70.9,142.7 	"></polygon>
              <polygon points="28.4,101.3 28.4,68.2 42.6,76.5 42.6,93.1 	"></polygon>
              <polygon points="28.4,134.4 28.4,101.3 42.6,109.6 42.6,126.2 	"></polygon>
            </g>
            <g>
              <polygon points="85.1,68.2 70.9,59.9 70.9,43.4 85.1,35.1 99.3,43.4 99.3,59.9 "></polygon>
              <polygon points="85.1,101.3 70.9,93.1 70.9,76.5 85.1,68.2 99.3,76.5 99.3,93.1 "></polygon>
              <polygon points="113.5,84.8 99.3,76.5 99.3,59.9 113.5,51.7 127.7,59.9 127.7,76.5 "></polygon>
              <polygon points="113.5,117.9 99.3,109.6 99.3,93.1 113.5,84.8 127.7,93.1 127.7,109.6 "></polygon>
              <polygon points="113.5,151 99.3,142.7 99.3,126.2 113.5,117.9 127.7,126.2 127.7,142.7 "></polygon>
              <polygon points="141.9,101.3 127.7,93.1 127.7,76.5 141.9,68.2 "></polygon>
              <polygon points="141.9,134.4 127.7,126.2 127.7,109.6 141.9,101.3 "></polygon>
            </g>
          </svg>
          <span class="govuk-header__logotype-text">NICS</span>
        </span>
        <span class="govuk-header__product-name">Usage Tracking Service</span>
      </a>
    </div>
    <div class="govuk-header__content">
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation"
        aria-label="Show or hide Top Level Navigation">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" [routerLink]="'/application'">
              Application
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" [routerLink]="'/usages'">
              Usage Items
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" [routerLink]="'/events'">
              Events
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" [routerLink]="'/users'">
              Users
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <div class="app-site-search" data-module="app-search"
              data-search-index="/search-index-44783948cca24a62ff4480db2a265c2c.json">
              <label class="govuk-visually-hidden" for="app-site-search__input">Search Usage</label>
              <div class="app-site-search__wrapper">
                <div
                  style="border: 0px; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin-bottom: -1px; margin-right: -1px; overflow: hidden; padding: 0px; position: absolute; white-space: nowrap; width: 1px;">
                  <div id="app-site-search__input__status--A" role="status" aria-atomic="true" aria-live="polite"></div>
                  <div id="app-site-search__input__status--B" role="status" aria-atomic="true" aria-live="polite"></div>
                </div><input aria-expanded="false" aria-owns="app-site-search__input__listbox" aria-autocomplete="both"
                  aria-describedby="app-site-search__input__assistiveHint" autocomplete="off"
                  class="app-site-search__input app-site-search__input--default" id="app-site-search__input"
                  name="input-autocomplete" placeholder="Search Usage" type="text" role="combobox">
                <ul class="app-site-search__menu app-site-search__menu--overlay app-site-search__menu--hidden"
                  id="app-site-search__input__listbox" role="listbox"></ul><span
                  id="app-site-search__input__assistiveHint" style="display: none;">When autocomplete results are
                  available use up and down arrows to review and enter to select. Touch device users, explore by touch
                  or with swipe gestures.</span>
              </div>
            </div>
          </li>
          <li class="govuk-header__navigation-item">
            <form method="POST" id="logout" action="">
              <a class="govuk-header__link" href="javascript:{}" *ngIf="isLoggedIn"
                (click)="logout()">{{ isLoggedIn ? "Logout" : "Login" }}</a>
            </form>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>